cluster.name: kuberdock
cluster.routing.allocation.disk.threshold_enabled: True
cluster.routing.allocation.disk.watermark.low: 1gb
cluster.routing.allocation.disk.watermark.high: 500mb
http.cors.allow-origin: "/.*/"
http.cors.enabled: true
